aiodns
aiohttp
aiosignal
asttokens
async-timeout
attrs
ccxt
certifi
cffi
charset-normalizer
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
frozenlist
idna
importlib-metadata
ipdb
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
multidict
nest_asyncio
numpy
packaging
pandas
pandas-ta
parso
pickleshare
pillow
pip
platformdirs
prompt-toolkit
psutil
pure-eval
pycares
pycparser
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
requests
seaborn
setuptools
six
stack-data
toml
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
wheel
yarl
zipp
